.home{
    background-image: url('3.jpeg');
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    top: 10%;
    background-size: cover;
    margin: 0;
}

.me{
    background-color: whitesmoke;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    top: 10%;
    background-size: cover;
    margin: 0;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

.hist{
    background-color: whitesmoke;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    top: 10%;
    background-size: cover;
    margin: 0;
}

.edu{
    background-color:whitesmoke;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    top: 0%;
    background-size: cover;
    margin: 0;
    width: 100%;
    display: inline-block;
}

.nav{
    background-color:#90AFC5;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition-duration: 0.63s;
}

.navt{
    background-color: #90AFC5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    table-layout: fixed;
    z-index: 99;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.navcol{
    background-color: aliceblue;
    height: 10%;
    width: 100%/4;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid gray;
}

*{
    padding: 0;
    margin: 0;
}

.bod{
    height: 100%;
    overflow-y: hidden;
}

.photo{
    position: relative;
    top: 0px;
    height: 20px;
    text-align: center;
    transition: .2s;
}

.arr:hover {
    font-size: 250%;
}

.arr{
    font-size: 200%;
    size: 10%;
    padding: 0;
    transition: 0.2s;
}

.photo:hover {
    height: 25px;
}

.mepara1{
    top: 15%;
    left: 10%;
    position: relative;
    width: 80%;
}

.mepara2{
    top: 18%;
    left: 10%;
    position: relative;
    width: 80%;
    height: 28%;
    display: flex;
    align-items: center;
}

.mepara2img{
    position: relative;
    width: auto;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10%;
}

.mepara3{
    top: 20%;
    width: 80%;
    left: 10%;
    height: 30%;
    position: relative;
    display: flex;
    align-items: center;
}

.mepara3img{
    position: relative;
    width: auto;
    height: 100%;
 
    border-radius: 10%;
}

.experience{
    top: 20%;
    width:45%;
    left:5%;
    position: relative;
    height: 35%;
    float: left;
}


.Skills{
    top: 15%;
    width:40%;
    right: 5%;
    position: relative;
    height: 50%;
    float: right;
    clear: right;
}

.Skills1{
    top: 15%;
    width:40%;
    right: 5%;
    position: relative;
    height: 20%;
    float: right;
}

.experience1{
    width:30%;
    top: 7%;
    left:10%;
    position: relative;
    height: 70%;
    float: left;
    clear: right;
}

.email{
    position: relative;
    line-height: 1.5;
    font-size: 15;
    height: 70%;
}

.textbox{
    font-size: 22;
    height: 4%;
}

.formo{
    position: relative;
    left: 30%;
    width: 70%;
    height: 100%;
    top: 0%;
    overflow: hidden;
}

.contact{
    position: relative;
    width: 70%;
    height: 100%;
}

.cont{
    width: 45%;
    height: 80%;
    float: right;
    top: 20%;
    position: relative;
    text-align: center;
    line-height: 4;
}

.cont1{
    width: 45%;
    height: 80%;
    top: 20%;
    position: relative;

    float: left;
}

.socials{
    height: 30%;
    width: auto;
}

.sociallogo{
    position: relative;
    top: 0px;
    height: 50%;
    text-align: center;
    transition: .5s;
}

.sociallogo:hover {
    height: 60%;
}

.linkcont{
    color: inherit;
    font-size: 24; 
    transition: 0.5s;
}

.linkcont:hover{
    font-size: 28;
   
}