.home{
    background-image: url('3.jpeg');
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    top: 10%;
    background-size: cover;
    margin: 0;
}

.me{
    background-image: url('me.jpeg');
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    top: 10%;
    background-size: cover;
    margin: 0;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

.hist{
    background-color: azure;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    top: 10%;
    background-size: cover;
    margin: 0;
}

.edu{
    background-color:white;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    top: 0%;
    background-size: cover;
    margin: 0;
    width: 100%;
    display: inline-block;
}

.nav{
    background-color: aliceblue;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition-duration: 0.63s;
}

.navt{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid lightgray;
    text-align: center;
    table-layout: fixed;
    z-index: 99;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.navcol{
    background-color: aliceblue;
    height: 10%;
    width: 100%/4;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid gray;
}

*{
    padding: 0;
    margin: 0;
}

.bod{
    height: 100%;
    overflow-y: hidden;
}

.photo{
    position: relative;
    top: 0px;
    height: 20px;
    text-align: center;
    transition: .05s;
}

.arr:hover {
    font-size: 250%;
}

.arr{
    font-size: 200%;
    size: 10%;
    padding: 0;
    transition: 0.2s;
}

.photo:hover {
    height: 25px;
}

.mepara1{
    top: 15%;
    left: 10%;
    position: relative;
    width: 80%;
}

.mepara2{
    top: 20%;
    left: 10%;
    position: relative;
    width: 80%;
    height: 28%;
    display: flex;
    align-items: center;
}

.mepara2img{
    position: relative;
    width: auto;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10%;
}

.mepara3{
    top: 20%;
    width: 80%;
    left: 10%;
    height: 30%;
    position: relative;
    display: flex;
    align-items: center;
}

.mepara3img{
    position: relative;
    width: auto;
    height: 100%;
 
    border-radius: 10%;
}

.experience{
    top: 20%;
    width:30%;
    left:10%;
    position: relative;
    height: 30%;
    float: left;
}


.Skills{
    top: 20%;
    width:30%;
    right: 10%;
    position: relative;
    height: 50%;
    float: right;
    clear: right;
}

.Skills1{
    top: 20%;
    width:30%;
    right: 10%;
    position: relative;
    height: 20%;
    float: right;
}

.experience1{
    width:30%;
    left:10%;
    position: relative;
    height: 70%;
    float: left;
    clear: right;
}

.email{
    position: relative;
    line-height: 1.5;
    font-size: 15;
    height: 70%;
}

.textbox{
    font-size: 22;
    height: 4%;
}

.formo{
    position: relative;
    left: 20%;
    width: 70%;
    height: 100%;
    top: 0%;
    overflow: hidden;
}

.contact{
    position: relative;
    width: 80%;
    height: 100%;
}

.cont{
    width: 45%;
    height: 50%;
    float: right;
    top: 20%;
    position: relative;
}

.cont1{
    width: 45%;
    height: 70%;
    top: 20%;
    position: relative;

    float: left;
}


.dropdown {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    border: grey;
    border-style: solid 10px;
  }

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.lip {
    position: relative;
    display: inline-block;
  }

.black:hover .dropdown {display: block;}

.button:active .dropdown {display: block;}

.black:hover .button{color: gray}

.dropdown a:hover {background-color: grey;}

.pic img:hover {height: 22px;}

.card{
    position: relative;
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px grey;
}

.pic{
    position: relative;
    top: 0px;
    height: 20px;
    text-align: center;
}

.title1{
    position: relative;
    text-align: center;
    font-size: 20;
    font: bold;


}

.row1{
    height: 15px;
}

.title2{
    position: relative;
    text-align: center;
    font-size: 30;
    font: bold;
    height: 40px;
    top: 5px;
}


.title{
    position: relative;
    text-align: center;
    font-size: 20;
    font: bold;
    height: 40px;
    top: 5px;
}

.greyword{
    position: relative;
    text-align: center;
    font-size: 20;
    font: bold;
    height: 30px;
    color: grey;
}

.face{
    position: relative;
    height:385px;
    width: 385px;
    align-self: center;
}

.black{
    height: 30px;
    color: white;
    background-color: black;
    border: 100% black;
    text-align: center;
    position: relative;
    font-size: 16px;
    border: none;
}

.button{
    color: white;
    background-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.facepic{
    height: 60%;
    width: 100%;
    align-items: center;
}